<a  name="services"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Post an event:<br>This will be visible to everyone.</h2>
        <p class="lead">If you see a cool event that you think other people would like, post it here. Make a group and go.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="../img/travel.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Where are we located?<br>This group is for Portland Oregon.</h2>
        <p class="lead">Portland is awesome and there are tons of events here all the time.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="../img/nhphoto.jpg" alt="">
      </div>
    </div>
  </div>
</div>
